# Data Science Fundamentals

This note book analyzes pass fail for a class

In [ ]:
data = [50,50,47,97,49,3,53,42,26,74,82,62,37,15,70,27,36,35,48,52,63,64]
print(data)

In [ ]:
import numpy as np

grades = np.array(data)

print(grades)

In [ ]:
grades.shape

In [ ]:
grades.mean()

In [ ]:
study_hours = [10.0,11.5,9.0, 16.0,9.25,1.0,11.5,9.0,8.5,14.5,15.5,13.75,9.0,8.0,15.5,8.0,9.0,6.0,10.0,12.0,12.5,12.0]
student_data = np.array([study_hours,grades])

In [ ]:
avg_study = student_data[0].mean()
avg_grade = student_data[1].mean()

print(f" Average Study Time: {avg_study}")
print(f" Average Grade: {avg_grade}")

In [ ]:
import pandas as pd

df_students = pd.DataFrame({'Name':['Dan', 'Joan', 'Pedro', 'Rosie', 'Ehan', 'Vicky', 'Frederic', 'Jimmie', 'Rhonda', 'Ravi',
                                   'Twinkle', 'Rajab', 'Naiyana', 'Kian', 'Jenny', 'Srihari', 'Donald', 'Kier', 'Anila', 'Skye', 'Daniel', 'Aisha'], 
                            'StudyHours':student_data[0], 
                            'Grade':student_data[1]})

In [ ]:
df_students.loc[0]

In [ ]:
df_students[df_students['Name'] == 'Twinkle']

In [ ]:
df_students.query('Name=="Twinkle"')

In [ ]:
df_students[df_students.Name == "Twinkle"]

the csv can be dowloaded from https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/ml-basics/grades.csv


!wget  https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/ml-basics/grades.csv

In [ ]:
df_students = pd.read_csv('data/grades.csv', delimiter= ',', header='infer')

In [ ]:
df_students

In [ ]:
df_students.isnull()

In [ ]:
df_students.isnull().sum()

In [ ]:
df_students.StudyHours = df_students.StudyHours.fillna(df_students.StudyHours.mean())
df_students

In [ ]:
df_students = df_students.dropna(axis=0 )
df_students

In [ ]:
mean_study = df_students['StudyHours'].mean()
mean_grade = df_students.Grade.mean()

In [ ]:
df_students[df_students.StudyHours > mean_study]

In [ ]:
df_students[df_students.StudyHours > mean_study].Grade.mean()

In [ ]:
passed = pd.Series(df_students.Grade>=60)
df_students = pd.concat([df_students, passed.rename('Passed')],axis= 1)

In [ ]:
df_students

In [ ]:
df_students.groupby(df_students.Passed).count()
#df_students.groupby(df_students.Passed).Name.count()

In [ ]:
#print(df_students.groupby(df_students.Passed).Grade.mean())
df_students.groupby(df_students.Passed)[['StudyHours', 'Grade']].mean()

In [ ]:
df_students = df_students.sort_values('Grade')
df_students

In [ ]:
df_students = df_students.sort_values('StudyHours', ascending= False)
df_students